{% extends 'base.html.twig' %}

{% block main %}
    <section class="relative py-16">
        <img src="/assets/images/7dtd-wallpaper.png" class="absolute inset-0" alt="">
        <div class="max-w-2xl mx-auto px-4 space-y-8">
            <div class="max-w-2xl mx-auto px-4 text-center text-red">
                <h1 class="text-5xl font-bold">Les Fraternels</h1>
                <p class="text-2xl">Une véritable expérience de survie</p>
            </div>
            <p>Survivez à l'apocalipse, rejoignez les rangs des Fraternels et, ensemble, faisons voler la cervelle !</p>
            <div class="text-center">
                <a class="btn" href="">Rejoignez nos rangs</a>
            </div>
        </div>
    </section>
{% endblock %}