@import "tailwindcss";

@theme {
    --color-*: initial;

    --color-green: #3BDC0E;
    --color-red: #CE0A0A;
    --color-lightgray: #303030;
    --color-gray: #222222;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

@layer components {
    .link-disabled {
        @apply pointer-events-none cursor-not-allowed line-through;
    }

    .btn-primary {
        @apply inline-block px-4 py-2 bg-red text-white rounded-md;
    }
}