{{ block "main" . }}
<div class="max-w-sm mx-auto px-4 my-8 space-y-8">
    <h1 class="text-2xl text-white font-bold text-center">Connexion</h1>
    <form class="space-y-4" action="" method="post">
        <div class="flex flex-col gap-y-2">
            <label class="text-white" for="login_email">Email :</label>
            <input
                class="text-sm bg-white rounded-md px-2 py-1"
                type="email"
                name="login_email"
                placeholder="john@doe.com"
                id="login_email"
            />
        </div>

        <div class="flex flex-col gap-y-2">
            <label class="text-white" for="login_password"
                >Mot de passe :</label
            >
            <input
                class="text-sm bg-white rounded-md px-2 py-1"
                type="password"
                name="login_password"
                placeholder="password"
                id="login_password"
            />
        </div>

        <button class="btn-primary" type="submit">Se connecter</button>
    </form>
</div>
{{ end }}
