<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Fraternels</title>
</head>
<body>
    <header>
        <nav>
            <span>Les Fraternels</span>
            <ul>
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <a href="/mods">Mods</a>
                </li>
                <li>
                    <a href="/reglement">Règlement</a>
                </li>
            </ul>
        </nav>
    </header> 

    {{ block "main" . }}{{ end }}

    <footer>

    </footer>
</body>
</html>