<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Fraternels</title>

    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="bg-gray">
    <header class="bg-lightgray text-white text-sm sm:text-base whitespace-nowrap py-4">
        <nav class="max-w-2xl mx-auto px-4 flex justify-between gap-x-8">
            <span>Les Fraternels</span>
            <ul class="flex gap-x-4">
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <a href="/mods">Mods</a>
                </li>
                <li>
                    <a class="link-disabled">Discord</a>
                </li>
            </ul>
        </nav>
    </header> 

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer class="bg-lightgray text-white text-sm sm:text-base py-4">
        <ul class="max-w-2xl mx-auto px-4 flex justify-center gap-x-8">
            <li>
                <a class="link-disabled">Mentions légales</a>
            </li>
            <li>
                <a class="link-disabled">Contact</a>
            </li>
        </ul>
    </footer>
</body>
</html>