{{ block "main" . }}
    <div class="py-16">
        <div class="max-w-2xl mx-auto space-y-8 px-4 text-center">
            <div class="text-red">
                <h1 class="text-5xl font-bold">Les Fraternels</h1>
                <span class="text-2xl ">Une véritable expérience de survie</span>
            </div>
            <p class="text-white text-xl">Survivez à l'apocalypse, rejoignez les rangs des Fraternels et, ensemble, faisons voler la cervelle !</p>
            <div>
                <a class="btn-primary link-disabled">Rejoignez nos rangs</a>
            </div>
        </div>
    </div>
{{ end }}