{{ block "main" . }}
    <div class="relative py-16 bg-black/60">
        <img
            class="absolute inset-0 w-full h-full object-cover z-[-1]"
            src="/assets/images/7DTD-screenshot-02-bg-md.webp"
            srcset="
                /assets/images/7DTD-screenshot-02-bg-md.webp 1920w,
                /assets/images/7DTD-screenshot-02-bg-sm.webp 1280w,
                /assets/images/7DTD-screenshot-02-img-lg.webp 980w,
                /assets/images/7DTD-screenshot-02-img-md.webp 640w,
                /assets/images/7DTD-screenshot-02-img-sm.webp 320w,
            "
            sizes="100w"
            alt=""
            inert=""
        >
        <div class="max-w-2xl text-sm sm:text-base mx-auto space-y-8 px-4 text-center">
            <div class="text-red">
                <h1 class="text-4xl sm:text-5xl font-bold">Les Fraternels</h1>
                <span class="text-xl sm:text-2xl">Une véritable expérience de survie</span>
            </div>
            <p class="text-white text-lg sm:text-xl">Survivez à l'apocalypse, rejoignez les rangs des Fraternels et, ensemble, faisons voler la cervelle !</p>
            <div>
                <a class="btn-primary link-disabled">Rejoignez nos rangs</a>
            </div>
        </div>
    </div>

    <div class="max-w-5xl mx-auto px-4 py-16 space-y-8">
        <h2 class="text-3xl md:text-4xl text-white text-center font-bold">Les Fraternels c'est ...</h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8">
            {{ range $index, $item := $.Items }}
                <div class="bg-lightgray px-8 py-4 rounded-md space-y-4 shadow-md shadow-black/35">
                    <h3 class="text-xl text-red text-center font-bold">{{ $item.Name }}</h3>
                    <p class="text-white">{{ $item.Description }}</p>
                </div>
            {{ end }}
        </div>

        <div class="text-center">
            <a class="btn-primary link-disabled" href="">Rejoignez-nous</a>
        </div>
    </div>
{{ end }}